:root {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    padding-bottom: 1rem !important;
}

.card {
    margin: 0;
    padding: 1rem;
    background-color: white;
    border: 2px solid darkgray;
    border-radius: 1rem;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5rem;
}

nav>a {
    display: grid;
    grid-template-rows: 4.5rem 10rem;
    padding: 1rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
    background-color: white;
    border-radius: 1rem;
    margin: 1rem 2rem;
    width: 14.5rem;
    height: 14.5rem;
    border: 1px solid grey;
    box-shadow: 0.5rem 1rem 0 0.25rem rgba(255, 193, 99, 0.658);
}

#contact-nav,
#contact {
    box-shadow: 0.5rem 1rem 0 0.25rem rgba(148, 207, 255, 0.658)
}

#events-nav,
#events {
    box-shadow: 0.5rem 1rem 0 0.25rem rgba(165, 255, 147, 0.658);
}

#about-nav,
#about {
    box-shadow: 0.5rem 1rem 0 0.25rem rgba(255, 244, 147, 0.658);
}

nav>a>h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    word-wrap: break-word;
    margin: 0;
    text-align: center;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid grey;
}

nav>a>span {
    margin: 1rem;
    font-size: 6rem;
    text-align: center;
}

#background {
    position: fixed;
    z-index: -1;
    min-height: 100vh;
    min-width: 100vw;
    filter: blur(5px);
    top: 0;
    left: 50vw;
    transform: translateX(-50%);
}


#landing {
    display: flex;
    align-items: center;
    padding: 0 5rem 25rem 5rem;
    background-image: url("../img/exterior_front.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

#landing>img {
    max-width: 100%;
    margin: 0 auto;
}