<footer>
    <div>
        <a href="/impressum.html">Impressum</a>
        <a href="/datenschutz.html">Datenschutzerklärung</a>
    </div>
    <a href="<%= githubLink %>" target="_blank" id="github-link"><img src="/img/github-mark-white.svg" alt=""></a>
</footer>