footer {
    display: grid;
    grid-template-columns: auto max-content;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5rem 3rem;
}

footer>div {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

footer>div>a {
    display: inline;
    margin: 1rem;
    color: white;
}

#github-link {
    display: flex;
    align-items: center;
}

#github-link>img {
    height: 2rem;
}